{{!-- Build Options Template --}}

{{#each structures as |structure|}}
    <div class="" {{action 'build' structure.type}}>
        <img src="{{structure.name}}.gif">
        <span class="">Cost: ${{structure.price}}</span>
        <span class="">{{structure.description}}</span>
    </div>
{{/each}}
